* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


:root {
  --bg-light: white;
  --blur-bg: rgba(255, 255, 255, 0.2);
  --shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  --text-dark: #000;
  --text-light: #f9f7f7;
}

body {
  width: 100%;
  height: auto;
  background: var(--bg-light);
  animation: gradientMove 6s infinite ease-in-out;
 
}
::-webkit-scrollbar{
  display: none;
}

.iconsfooter {
  background: var(--bg-light);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  color: #000;
  justify-content: start;
  align-items: center;
}

.scores {
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
 
}

.box, .glass-card, .navbar, .ans {
  background: var(--blur-bg);
  backdrop-filter: blur(15px);
  box-shadow: var(--shadow);
  text-align: center;
  font-weight: bold;
}

.box {
  width: 40%;
  padding: 17px 70px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.glass-card {
  width: 90vw;
  height: 90vh;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.mshcolour {
  color: #850f70;
}

.navbar {
  margin-top: 12px;
  width: 95%;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.ms {
  width: 95%;
}

.msh {
  height: 170px;
  background: rgb(21, 21, 21);
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-light);
}

.textlogo {
  font-family: "Pacifico", cursive;
  font-weight: 50;
  margin: 0;
}

.text {
  opacity: 0;
  animation: fadeInOut 4s ease-in-out infinite;
}

.an {
  cursor: pointer;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.html { color: rgb(245, 78, 1); }
.css { color: rgb(82, 156, 229); }
.js { color: rgb(145, 145, 5); }
.react { color: rgb(5, 180, 177); }
.hook { color: rgb(39, 188, 2); }
.redux { color: #9005e6; }

.msh span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.quizbody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result {
  font-family: "Iceland", sans-serif;
  font-weight: 600;
}

.ans {
  width: 45vw;
  padding: 8px 0px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 15px;
  color: var(--text-dark);
}

.qui {
  margin: 25px 0 35px;
  font-size: 23px;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif;
}


.selected {
  color: white;
}

@keyframes rcolour {
0% {background-color: #43c204; }
50% {background-color: #45e64d; }
100% {background-color: #43c204; }}

.right {
  background-color: #379b06;
  animation: rcolour 3s infinite forwards; 
}


.btn {
  padding: 5px 30px;
  background-color: #b847ff;
  color: white;
  margin-top: 13px;
  font-family: "Iceland", sans-serif;
}

@keyframes rotate360 {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.logoofquiz {
  animation: rotate360 5s linear infinite;
}

.home {
  font-size: 10px;
  color: grey;
  cursor: pointer;
  opacity: .90;
}

@media (max-width: 1200px) {
  .msh { height: 195px; }
}

@media (max-width: 991px) {
  .msh { height: 120px; }
  .qui{
    font-size: 20px;
   }
}

@media (max-width: 768px) {
  .msh { height: 120px; }
  .ans { font-size: 16px;
    width: 65vw;
 }
 .qui{
  font-size: 18px;
 }
}

@media (max-width: 576px) {
  .msh { height: 58px; }
  .h4 { font-size: 10px; }
  .ms { width: 80%; }
  .ans { font-size: 14px;
    width: 80vw;
 }
 .qui{
  font-size: 18px;
 }
.glass-card{
  height: 90vh;
}
.logoofquiz{
  font-size: 53px;
}
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.backfooter{
  background-color: #0f0f0f;}
  
.falseanswer{
  background-color: rgb(249, 2, 2);
}

.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 2px solid #fdfcfc;
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}

.progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}
.red{
 color: red;
}
.blue{
color: rgb(4, 134, 15);
}
